/*=============================================================*/

/* Comments */

.comments {
  margin-bottom: 125px;
}

.comments__item {
  padding: 25px 20px 30px 20px;
  margin-bottom: 10px;
  background-color: #f7f9fe;
}

.comments__title {
  font-size: 48px;
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
}

.comments__subtitle {
  margin-bottom: 90px;
  text-align: center;
}

.comments__user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
}

.comments__ico {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45px;
          flex: 0 0 45px;
  height: 45px;
}

.comments__ico img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 50%;
}

.comments__user-review {
  display: flex;
  align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-left: 15px;
}

.comments__username {
  font-size: 16px;
  line-height: 1.25;
  font-weight: 700;
  margin-bottom: 5px;
}

.comments__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comments__stars .icon-star::before {
  content: "\e904";
  display: block;
  font-size: 13px;
  margin: 0 1px;
  color: #f5a623;
}

.comments__text {
  font-size: 16px;
  line-height: 1.55;
}

@media (min-width: 767px) {
  .comments__user-info {
    margin-bottom: 25px;
  }
}

@media (min-width: 991px) {
  .comments__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .comments__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(33.333333% - 20px);
            flex: 1 1 calc(33.333333% - 20px);
    margin: 0 10px 10px 10px;
    background-color: #fff;
  }
}

@media (max-width: 1270px) {
  .comments {
    margin-bottom: calc(25px + 100 * ((100vw - 320px) / 950));
  }

  .comments__title {
    font-size: calc(36px + 12 * ((100vw - 320px) / 950));
  }

  .comments__title {
    margin-top: calc(20px + 30 * ((100vw - 320px) / 950));
  }

  .comments__subtitle {
    margin-bottom: calc(25px + 65 * ((100vw - 320px) / 950));
  }
}